# Complete all env vars before proceeding.

# DATABASE
DB_HOST=localhost
DB_NAME=canvas_db
DB_USERNAME=canvas
DB_PASSWORD=password

# DOMAIN
DOMAIN=localhost
RCE_SUBDOMAIN=localhost

# OUTGOING MAIL (SMTP)
SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your@email.com
SMTP_PASSWORD=password
SMTP_DOMAIN=gmail.com
SMTP_OUTGOING_ADDRESS=noreply@devcodecamp.com
SMTP_DEFAULT_NAME=devCodeCamp

# SSL
SSL_CERT_PATH=/var/canvas/fullchain.pem
SSL_CERT_KEY_PATH=/var/canvas/privkey.pem
SSL_OPTIONS_CONF=
# SSL_OPTIONS_CONF="Include /etc/letsencrypt/options-ssl-apache.conf"